
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>
	<script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
	<link href="~/font-awesome/css/all.min.css" rel="stylesheet" />
	<link href="~/font-awesome/css/all.css" rel="stylesheet" />
	<link href="~/css/headertwo.css" rel="stylesheet" />
    <style>
        

    </style>
</head>

<body>


    <header>
        <a href="#" class="brand">Financial Business</a>
        <div class="menu">
            <div class="btn">
                <i class="fas fa-times close-btn"></i>
            </div>
            <a href="#">Home</a>
            <a href="#">About Us</a>
            <a href="#">Our Services</a>
            <a href="#">Contact Us</a>
            <a href="#">One Page</a>
        </div>
        <div class="btn">
            <i class="fas fa-bars menu-btn"></i>
        </div>
    </header>

    <section class="section-main">
        <h1>Sticky Navigationn Bar</h1>
    </section>

   

    <script type="text/javascript">
        //javascript for navigation bar effect on scroll
        window.addEventListener("scroll", function () {
            var header = document.querySelector("header");
            header.classList.toggle('sticky', window.scrollY > 0);
        });

        //javascript for responsive navigation sidebar menu
        var menu = document.querySelector('.menu');
        var menuBtn = document.querySelector('.menu-btn');
        var closeBtn = document.querySelector('.close-btn');

        menuBtn.addEventListener("click", () => {
            menu.classList.add('active');
        });

        closeBtn.addEventListener("click", () => {
            menu.classList.remove('active');
        });
    </script>




   
</body>
</html>
